
.DS_Store
Twaaqs_1.7.1_iphoneos-arm/.DS_Store
Twaaqs_1.7.1_iphoneos-arm/control.tar.gz
Twaaqs_1.7.1_iphoneos-arm/control/control
Twaaqs_1.7.1_iphoneos-arm/control/postinst
Twaaqs_1.7.1_iphoneos-arm/control/prerm
Twaaqs_1.7.1_iphoneos-arm/data.tar.gz
Twaaqs_1.7.1_iphoneos-arm/debian-binary
